.uuid
mimeinfo.cache
wine*
applications/.local/share/applications/brave-egmafekfmcnknbdlbfbhafbllplmjlhn-Default.desktop
bin/.local/bin/agy
bin/.local/bin/swival
bin/.local/bin/obsidian
agy*
*.wants/
