[Unit]
Description=Battery Alert Service
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=oneshot
Environment=DISPLAY=:0
Environment=XAUTHORITY=%h/.Xauthority
ExecStart=%h/dotfiles/dunst/.config/dunst/scripts/battery-alert.sh

[Install]
WantedBy=default.target