[Unit]
Description=dwmblocks music updater helper daemon
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=%h/.local/bin/dwmblocks-musicup
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=graphical-session.target
